@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-roboto: var(--font-roboto);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-barlow: var(--font-barlow);

  --color-hf: #030F27;
  --color-Primary: #F5AD0D;
  --color-textP:#222222;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.maxW{
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 2%;
}

.bgMain{
  background-image: url('/main-slide1.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 111px);
}

.bgCards{
  background-image: url('/bg-services.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgNumb{
  background-image: url('/bgNum.jpg');
  background-size: cover;
  background-position: center;
}

.c1{
  background-image: url('/cases/c1.webp');
  background-size: cover;
  /* background-position: center;; */
}


p{
  font-family: var(--font-roboto);
}
